/* ExpenseTracker.css */

.expense-tracker-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.expense-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.expense-table th, .expense-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.expense-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.expense-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* New Expense Form */
.new-expense-form {
    margin-top: 20px;
    text-align: left;
}

.new-expense-form h3 {
    text-align: center;
}

.new-expense-form form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px;
}

.new-expense-form input,
.new-expense-form textarea,
.new-expense-form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.new-expense-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

.new-expense-form button:hover {
    background-color: #0056b3;
}
